# Dataset Created for Association rule mining Process

In [1]:

ARM_df = [['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Dill', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Milk', 'Apple', 'Rajma', 'Ghee'],
     ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
     ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

In [2]:
ARM_df

[['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
 ['Dill', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
 ['Milk', 'Apple', 'Rajma', 'Ghee'],
 ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
 ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

In [3]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (0.19.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\envs\deep_learning\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

# Transaction Encoder Convert
Item lists into transaction data for frequent itemset mining

In [4]:
from mlxtend.preprocessing import TransactionEncoder 

te = TransactionEncoder()
import pandas as pd
A = pd.DataFrame(te.fit_transform(ARM_df),columns=te.columns_)

In [5]:
A

,Apple,Chhole,Corn,Dahi,Dill,Ghee,Ice cream,Milk,Mutter,Onion,Rajma
0,False,True,False,True,False,True,False,True,False,True,True
1,False,True,False,True,True,True,False,False,False,True,True
2,True,False,False,False,False,True,False,True,False,False,True
3,False,False,True,True,False,False,False,True,True,False,True
4,False,False,True,False,False,True,True,False,False,True,True

In [6]:
from mlxtend.frequent_patterns import apriori
Q = apriori(A,min_support = 0.5,use_colnames = True)

In [7]:
P = []
for i in Q.itemsets:
    P.append(len(i))

In [8]:
P

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3]

In [9]:
Q['S']=P

In [10]:
Q[Q.S == 2]

   support        itemsets  S
5      0.6   (Rajma, Dahi)  2
6      0.6   (Ghee, Onion)  2
7      0.8   (Ghee, Rajma)  2
8      0.6   (Rajma, Milk)  2
9      0.6  (Rajma, Onion)  2

In [11]:
len(A.Rajma)

5

In [12]:
A[["Rajma","Dahi"]].sum()[1]

3

In [13]:
3/5

0.6

In [14]:
num = A[(A.Rajma == True) & (A.Dahi == True)].shape[0]
den = A[(A.Rajma == True)].shape[0]
conf = num/den

In [15]:
conf

0.6

In [16]:
def confidence (A,x,y):
    num = A[(A[x] == True) & (A[y] == True)].shape[0]
    den = A[(A[x] == True)].shape[0]
    conf = num/den
    return conf

In [17]:
confidence (A,"Ghee","Onion")

0.75

In [18]:
confidence(A,"Rajma","Ghee")

0.8

In [19]:
def supp(df,i,j):
    num = A[(A[i] == True) & (A[j]== True)].shape[0]
    den = A.shape[0]
    sup = num/den
    return sup

In [20]:
for i in A.columns:
    for j in A.columns:
        print(i,j,supp(A,i,j),confidence(A,i,j))

Apple Apple 0.2 1.0
Apple Chhole 0.0 0.0
Apple Corn 0.0 0.0
Apple Dahi 0.0 0.0
Apple Dill 0.0 0.0
Apple Ghee 0.2 1.0
Apple Ice cream 0.0 0.0
Apple Milk 0.2 1.0
Apple Mutter 0.0 0.0
Apple Onion 0.0 0.0
Apple Rajma 0.2 1.0
Chhole Apple 0.0 0.0
Chhole Chhole 0.4 1.0
Chhole Corn 0.0 0.0
Chhole Dahi 0.4 1.0
Chhole Dill 0.2 0.5
Chhole Ghee 0.4 1.0
Chhole Ice cream 0.0 0.0
Chhole Milk 0.2 0.5
Chhole Mutter 0.0 0.0
Chhole Onion 0.4 1.0
Chhole Rajma 0.4 1.0
Corn Apple 0.0 0.0
Corn Chhole 0.0 0.0
Corn Corn 0.4 1.0
Corn Dahi 0.2 0.5
Corn Dill 0.0 0.0
Corn Ghee 0.2 0.5
Corn Ice cream 0.2 0.5
Corn Milk 0.2 0.5
Corn Mutter 0.2 0.5
Corn Onion 0.2 0.5
Corn Rajma 0.4 1.0
Dahi Apple 0.0 0.0
Dahi Chhole 0.4 0.6666666666666666
Dahi Corn 0.2 0.3333333333333333
Dahi Dahi 0.6 1.0
Dahi Dill 0.2 0.3333333333333333
Dahi Ghee 0.4 0.6666666666666666
Dahi Ice cream 0.0 0.0
Dahi Milk 0.4 0.6666666666666666
Dahi Mutter 0.2 0.3333333333333333
Dahi Onion 0.4 0.6666666666666666
Dahi Rajma 0.6 1.0
Dill Apple 0.0 0.0
Dill Chhole 0.2 1.0
Dill Corn 0.0 0.0
Dill Dahi 0.2 1.0
Dill Dill 0.2 1.0
Dill Ghee 0.2 1.0
Dill Ice cream 0.0 0.0
Dill Milk 0.0 0.0
Dill Mutter 0.0 0.0
Dill Onion 0.2 1.0
Dill Rajma 0.2 1.0
Ghee Apple 0.2 0.25
Ghee Chhole 0.4 0.5
Ghee Corn 0.2 0.25
Ghee Dahi 0.4 0.5
Ghee Dill 0.2 0.25
Ghee Ghee 0.8 1.0
Ghee Ice cream 0.2 0.25
Ghee Milk 0.4 0.5
Ghee Mutter 0.0 0.0
Ghee Onion 0.6 0.75
Ghee Rajma 0.8 1.0
Ice cream Apple 0.0 0.0
Ice cream Chhole 0.0 0.0
Ice cream Corn 0.2 1.0
Ice cream Dahi 0.0 0.0
Ice cream Dill 0.0 0.0
Ice cream Ghee 0.2 1.0
Ice cream Ice cream 0.2 1.0
Ice cream Milk 0.0 0.0
Ice cream Mutter 0.0 0.0
Ice cream Onion 0.2 1.0
Ice cream Rajma 0.2 1.0
Milk Apple 0.2 0.3333333333333333
Milk Chhole 0.2 0.3333333333333333
Milk Corn 0.2 0.3333333333333333
Milk Dahi 0.4 0.6666666666666666
Milk Dill 0.0 0.0
Milk Ghee 0.4 0.6666666666666666
Milk Ice cream 0.0 0.0
Milk Milk 0.6 1.0
Milk Mutter 0.2 0.3333333333333333
Milk Onion 0.2 0.3333333333333333
Milk Rajma 0.6 1.0
Mutter Apple 0.0 0.0
Mutter Chhole 0.0 0.0
Mutter Corn 0.2 1.0
Mutter Dahi 0.2 1.0
Mutter Dill 0.0 0.0
Mutter Ghee 0.0 0.0
Mutter Ice cream 0.0 0.0
Mutter Milk 0.2 1.0
Mutter Mutter 0.2 1.0
Mutter Onion 0.0 0.0
Mutter Rajma 0.2 1.0
Onion Apple 0.0 0.0
Onion Chhole 0.4 0.6666666666666666
Onion Corn 0.2 0.3333333333333333
Onion Dahi 0.4 0.6666666666666666
Onion Dill 0.2 0.3333333333333333
Onion Ghee 0.6 1.0
Onion Ice cream 0.2 0.3333333333333333
Onion Milk 0.2 0.3333333333333333
Onion Mutter 0.0 0.0
Onion Onion 0.6 1.0
Onion Rajma 0.6 1.0
Rajma Apple 0.2 0.2
Rajma Chhole 0.4 0.4
Rajma Corn 0.4 0.4
Rajma Dahi 0.6 0.6
Rajma Dill 0.2 0.2
Rajma Ghee 0.8 0.8
Rajma Ice cream 0.2 0.2
Rajma Milk 0.6 0.6
Rajma Mutter 0.2 0.2
Rajma Onion 0.6 0.6
Rajma Rajma 1.0 1.0

In [21]:
rule = []
support = []
conf = []
for i in A.columns:
    for j in A.columns:
        if(i !=j):
            rule.append(i + " " + j)
            support.append(supp(A,i,j))
            conf.append(confidence(A,i,j))

In [22]:
T = pd.DataFrame([rule,support,conf]).T
T.columns = ["Rule","Supp","Conf"]

In [23]:
T.head()

           Rule Supp Conf
0  Apple Chhole  0.0  0.0
1    Apple Corn  0.0  0.0
2    Apple Dahi  0.0  0.0
3    Apple Dill  0.0  0.0
4    Apple Ghee  0.2  1.0

In [24]:
T[(T.Supp > 0.4) & (T.Conf > 0.4)]

            Rule Supp  Conf
39    Dahi Rajma  0.6   1.0
58    Ghee Onion  0.6  0.75
59    Ghee Rajma  0.8   1.0
79    Milk Rajma  0.6   1.0
95    Onion Ghee  0.6   1.0
99   Onion Rajma  0.6   1.0
103   Rajma Dahi  0.6   0.6
105   Rajma Ghee  0.8   0.8
107   Rajma Milk  0.6   0.6
109  Rajma Onion  0.6   0.6

# Here from the above observations we have found Rule, Support & Confidence for proctucts